* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html {
    box-sizing: border-box !important;
  }
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html, body {
    width: 100%;
    height: 100%;
  }
  
  body {
    color: #333;
    background: #333;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
  }
  
  ul li {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  
  a, span {
    display: inline-block;
  }
  
  header {
    position: relative;
  }
  
  .menu > ul {
    background-color: #ff5722;
    text-align: center;
    position: relative;
    font-size: 0; /* For removing the default margin between the inline-block elements if any. */
  }
  
  .menu > ul > li {
    background-color: #ff5722;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  ul li a {
    color: #fff;
    font-size: 16px;
    display: block;
  }
  
  ul li:hover a {
    color: #333;
  }
  
  /* .has-sub-menu > a {
  position: relative;
  } */
  
  .has-sub-menu > a::after {
    content: '';
    border: 5px solid transparent;
    border-top-color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }
  
  .has-sub-menu:hover > a::after {
    border-top-color: #333;
  }
  
  .sub-menu-wrapper {
    position: absolute;
    top: 65px;
    left: -9999px;
    background: #fff;
    display: flex;
    opacity: 0;
    transition: top .5s, opacity .5s;
    -webkit-transition: top .5s, opacity .5s;
    -moz-transition: top .5s, opacity .5s;
    -ms-transition: top .5s, opacity .5s;
    -o-transition: top .5s, opacity .5s;
  }
  
  .sub-menu {
    padding: 20px 30px;
    width: 25%;
    text-align: left;
  }
  
  .sub-menu-heading {
    border-bottom: 1px solid #ff5722;
    margin-bottom: 10px;
    cursor: initial;
  }
  
  .sub-menu a:hover {
    color: #ff5722;
  }
  
  .sub-menu-heading a:hover {
    color: initial;
  }
  
  .sub-menu-wrapper a {
    color: #ff5722;
  }
  
  .has-sub-menu:hover > .sub-menu-wrapper {
    opacity: 1;
    left: 0;
    right: 0;
    top: 45px;
  }
  
  
  /* Hamburger Styling */
  .mobile-menu {
    display: flex;
    width: 30px;
    height: 25px;
    flex-direction: column;
    justify-content: space-around;   
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
  }
  
  .bar {
    height: 3px;
    background: #ff5722;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
  }
  
  .mobile-menu.active .bar:nth-child(1) {
    transform: translateY(6px) rotate(-45deg);
    -webkit-transform: translateY(6px) rotate(-45deg);
    -moz-transform: translateY(6px) rotate(-45deg);
    -ms-transform: translateY(6px) rotate(-45deg);
    -o-transform: translateY(6px) rotate(-45deg);
  }
  
  .mobile-menu.active .bar:nth-child(2) {
    transform: translateY(-6px) rotate(45deg);
    -webkit-transform: translateY(-6px) rotate(45deg);
    -moz-transform: translateY(-6px) rotate(45deg);
    -ms-transform: translateY(-6px) rotate(45deg);
    -o-transform: translateY(-6px) rotate(45deg);
  }
  
  
  /* Media Queries */
  @media screen and (max-width: 768px) {
  
    .mobile-menu {
      display: flex;
    }
  
    .menu {
      padding-top: 60px;
      display: none;
    }
  
    .menu > ul > li {
      display: block;
      text-align: left;
      position: relative;
    }
  
    .sub-menu a:hover {
      color: #333;
    }
    
    .has-sub-menu > a {
      /* position: static; */
      display: inline-block;
    }
  
    .has-sub-menu > a::after {
      position: absolute;
      right: 20px;
      top: 20px;
    }
  
    .sub-menu-wrapper {
      position: static;
      background: transparent;
      flex-direction: column;
      opacity: 1;
      display: none;
    }
  
    .has-sub-menu:hover > .sub-menu-wrapper {
      opacity: initial;
    }
  
    .sub-menu {
      width: 100%;
      padding: 10px 5px;
    }
  
    .sub-menu-heading {
      border-color: #fff;
    }
  
    .sub-menu-wrapper a {
      color: #fff;
    }
  
  
  }

/*-----------------------------------carroussel----------------------------*/

.container {
    width: 100%;
    margin: 0px auto;
    border: 0px solid #bbb;
}

.carousel-item > div {
    height: 400px;
    line-height: 500px;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
}

.item-1 {
    background-color: #3498db;
}

.item-2 {
    background-color: #B22222;
}

.item-3 {
    background-color: #006400;
}

.item-4 {
    background-color: #FFD700;
}

.item-5 {
    background-color: #FF4500;
}

/* Carousel */

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-container {
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 500%;
    transition: transform 0.3s cubic-bezier(.694, .0482, .335, 1);
}

.carousel-item {
    position: relative;
    float: left;
    width: 20%;
}

/* Next / Prev Buttons */

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    background-color: #222;
    opacity: 0.7;
    border-radius: 50%;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 40px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    z-index: 10;
    transition: opacity 0.3s ease;
}

.carousel-prev {
    left: 2%;
    padding-right: 3px;
}

.carousel-prev::before {
    content: '\f053';
    font-family: "FontAwesome";
}

.carousel-next {
    right: 2%;
    padding-left: 3px;
}

.carousel-next::before {
    content: '\f054';
    font-family: "FontAwesome";
}

.carousel-prev:hover,
.carousel-next:hover {
    opacity: 1;
}

/* Pagination */

.carousel-pagination {
    list-style: none;
    position: absolute;
    bottom: 3%;
    left: 0;
    right: 0;
    width: 50%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 10;
}

.carousel-bullet {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #000;
    cursor: pointer;
    margin: 0 7px;
    border-radius: 50%;
    opacity: 0.5;
    transition-property: transform, opacity, background-color;
    transition-duration: 0.3s;
}

.carousel-bullet:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.carousel-bullet.active-bullet, 
.carousel-bullet.active-bullet:hover {
    opacity: 1;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    background-color: #fff;
    cursor: default;
}
