/*-----------------------------------General----------------------------*/
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
  font-weight: bold;
  color: white;
}
h2{
  margin: 20px;
  text-align: center;
  font-weight: bold;
  color: #2c2c54;
  font-weight: 300;
  display: table;
  padding-bottom: 5px;
  position: relative;
  margin-left : auto;
  margin-right : auto;
}

h2:after{
  content: "";
  position: absolute;
  width: 30%;
  height: 3px;
  bottom: 0;
  left: 35%;
  right: 35%;
  border-bottom: 2px solid #636e72;
}

li{
  list-style: none;
  padding: 10px;
}
li:hover{
  color: white;
}
button{
  background: #0c2461 ;
  width: 120px;
  height: 30px;
  font-size: 1em;
  border: none;
}
button:hover{
  background: #535c68 ;
  transition-delay: 1s;
}
/*-----------------------------------General----------------------------*/

/*-----------------------------------header----------------------------*/
#nav{
  float: right;
}
#nav ul{
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
}
#nav ul a{
  color: black;
  font-size: 0.8em;
}
#nav ul  img{
  width: 10%;
}
#header{
  display: block;
  background-color: #0c2461;
  line-height: 40px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img{
  width: 10%;
}
header ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header ul li{
  display: flex;
  font-weight: 1.5em;
  margin-right: 2em;
}
.logo{
}
/*----------------------------------------------------------------------------------------------*/

#headSection{
  width: 100px;
  position: relative;
}

#headSection{
  width: 100%;
}

#form{
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  width: 35%;
  height: 650px;
  background: rgba(234, 32, 39,0.7) /*rgba(248, 239, 186, 0.6)*/;
  padding: 20px;
}
#form h2{
  padding: 20px;
  font-weight: bold;
  font-size: 1.5em;
  color: white;
}
#form p{
  padding: 20px;
  font-size: 0.8em;
  color: white;
}
form{
  display: flex;
  flex-direction: column;
}
form input, form select{
  height: 60px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 1em;
}
.submit{
  font-weight:bold;
  font-size: 1.5em;
  margin-top: 20px;
  background: #0c2461;
  border: none;
  color: white;
}
.submit:hover{
  background: #535c68;
  color: white;
  border: none;
}

/*-----------------------------------------Nos collection-----------------------------------------------*/

#collection{
  margin: 100px auto;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}

#collection img{
  width: 50%;
}
.collection{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
  background: #dcdde1;
  width: 100%;
}
.collectionInfo{
  padding: 10px;
  line-height: 30px;
}
.collectionInfo button{
  width: 120px;
  height: 30px;
  font-size: 1em;
  border: none;
  margin-top: 20px;
  color: white;
  font-weight: bold;
}
.collectionInfo button a{
  font-size: 1em;
}
/*-----------------------------------------Nos collection-----------------------------------------------*/

/*-----------------------------------------Precommande-----------------------------------------------*/
#precommande{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: crimson;
  height: 600px;
}
#precommande div img{
  width: 100%;
}
#precommande .info{
  width: 50%;
  text-align: center;
  padding: 30px;
}
#precommande .info button{
  margin-top: 30px;
  width: 200px;
  color: white;
  font-weight: bold;
}
#precommande .info h2{
  margin-top: 30px;
}
#precommande .info p{
  margin-top: 30px;
  text-align: center;
  line-height: 30px;
}
/*-----------------------------------------Precommande-----------------------------------------------*/

/*-----------------------------------------Allez Plus Loin-----------------------------------------------*/

#allerPlusLoin{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  padding: 20px;
}
#allerPlusLoin h4{
  text-align: justify;
  padding: 20px;
  font-size: 0.8em;

}
.allerPlusLoin{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blockAllerPlus{
  width: 100%;
  margin: 10px;
}

.allerPlusLoin button{
  width: 60%;
  height: 40px;
  margin: 150px auto 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.allerPlusLoin button a{
 text-align: center;
}
.allerPlusLoin .first{
  background-image: url('../Asset/keys.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
.allerPlusLoin .second{
  background-image: url('../Asset/tablet-4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
.allerPlusLoin .third{
  background-image: url('../Asset/mercedes-benz-3392793__340.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

/*-----------------------------------------Allez Plus Loin-----------------------------------------------*/

/*-----------------------------------------footer-----------------------------------------------*/



/*-----------------------------------------footer---------------------------------------------*/
footer{
  background: #636e72;
  display: block;
  margin: 200px auto 0px;
}
#footerInfo, #planSite{
  border-bottom: 2px solid white;
}
#footerInfo, #blockPlanSite{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  margin: 0px auto 50px;
}
.arrowToggle{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}
footer  h3, #planSite h3{
  margin: 20px;
  text-align: center;
  font-weight: bold;
  color: #003354;
  font-weight: 300;
  display: table;
  padding-bottom: 5px;
  position: relative;
  margin-left : auto;
  margin-right : auto;
}

footer h3:after, #planSite h3:after{
  content: "";
  position: absolute;
  width: 40%;
  height: 3px;
  bottom: 0;
  left: 0%;
  right: 60%;
  border-bottom: 2px solid white;
}

#footerInfo div p{
  color: white;
  margin-top: 10px;
  line-height: 30px;
}
#footerInfo div a,#blockPlanSite div a{
  color: white;
  font-size: 0.7em;
}
#footerInfo div a,#blockPlanSite div a:hover{
  color: white;
  background: none;
}
#planSite a{
  color: black;
  text-align: center;
}
#planSite h2 img{
  width: 10%;
}

#footerCopyright{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.socio, .copyright{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footerCopyright div img{
  width: 4%;
  margin-right: 2em;
}



/* ------------------contact---------------- */

.containerContact{
  background-image: url('../Asset/contact-us.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;align-items: center;
  height: 100%;
  margin: 0px;
}
.contactTitle{
  text-align: center;
}
.contactImage{
  width: 100%;
  background: none;
}
.containerContactForm {
  fill-opacity: 1;
  max-width: 400px;
  width: 100%;
  margin: 10;
  position: relative;
  background: cyan;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: rgba(236, 240, 241,0.5);
  padding: 25px;
  margin: 50px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}
button{
  background: #0c2461 ;
  width: 120px;
  height: 30px;
  font-size: 1em;
  border: none;
}
button:hover{
  background: #535c68 ;
  transition-delay: 1s;
}
#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  height: 30px;
  border: none;
  background: #0c2461 ;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}